/*Text font color : #e7e9ea*/
/*Background color: #1f2125*/
/*Secondary color : #44a3aa*/

#verse:hover{
    -fx-fill: #22cbd8;
    -fx-cursor: HAND;
    -fx-background-color: rgba(32, 37, 37, 0.4);
}