#verse:hover{
    -fx-fill: -color-accent-4;
    -fx-cursor: HAND;
}

.listView .cell:hover,
.listView .cell:selected {
    -fx-background-color: -color-accent-muted;
    -fx-background-radius: 10px, 8px;
    -fx-background-insets: 0, 3px;
    -fx-cursor: HAND;
}
.comboBox,
.comboBox .cell:hover{
    -fx-cursor: HAND;
}